
<header class="header">
  <img class="background-img" src="fundo.png" alt="Fundo Igreja" />
  <div class="overlay"></div>

  <div class="conteudo-header">
    <h1 class="igreja">IASD <br />JD. Santo Eduardo</h1>
    <div class="horarios1">
        <h3 class="titulo-horario">Horário dos cultos</h3>
    <div class="horarios">
      <p>Dom 19:30</p>
      <p>Qua 20:00</p>
      <p>Sáb 09:00</p>
    </div>
    </div>
    
  </div>
</header>

<section>
  <h2>Sobre nós</h2>
  <p>
    As crenças dos Adventistas do Sétimo Dia são destinadas a permear toda a
    sua vida. Nascendo de escrituras que pintam um retrato convincente de Deus,
    você é convidado a explorar, experimentar e conhecer Aquele que deseja nos
    tornar completos.
  </p>
  <img src="igreja.png" alt="Igreja" />

  <article>
    <div class="artigos">
      <img src="sail_ship.svg" alt="Missão" />
      <h3>Missão</h3>
    </div>
    <p>
      Fazer discípulos de Jesus Cristo, que vivam como testemunhas de amor e
      proclamem o evangelho eterno.
    </p>
  </article>

  <article>
    <div class="artigos">
      <img src="eye_open.png" alt="Visão" />
      <h3>Visão</h3>
    </div>
    <p>Promover a saúde física, mental e espiritual, seguindo o exemplo de Jesus Cristo.</p>
  </article>

  <article>
    <div class="artigos">
      <img src="christianity.svg" alt="Valores" />
      <h3>Valores</h3>
    </div>
    <p>
      Amar a Deus e ao próximo, respeitar os princípios bíblicos, ter ética
      profissional e prestar serviços de qualidade.
    </p>
  </article>
</section>

<section class="mensagem-pastoral-container pastoral_container">
  <div class="mensagem-texto">
    <h2>Mensagem Pastoral</h2>
    <p>
      Não se turbe o vosso coração; credes em Deus, crede também em mim.<br />
      Na casa de meu Pai há muitas moradas; se não fosse assim, eu vo-lo teria dito.<br />
      Vou preparar-vos lugar. E quando eu for, e vos preparar lugar, virei outra vez, e vos levarei para mim mesmo, para que onde eu estiver estejais vós também.<br />
      <strong>João 14:1-3</strong>
    </p>
  </div>
  <div class="mensagem-imagem pastor_image_wrapper">
    <img id="img-pastor" src="pastor.png" alt="Pastor" />
  </div>
</section>

<section>
  <h2>Dízimos e Ofertas?</h2>

  <article>
    <h3>Dízimo</h3>
    <p>
      <span>Propósito: </span>O dízimo é a devolução de 10% da renda pessoal, um ato
      de obediência e confiança nos ensinamentos bíblicos. Ele é usado para sustentar a
      obra da igreja, incluindo o salário de pastores e missionários, e para apoiar o
      trabalho evangelístico.<br />
      <span>Significado: </span>O dízimo é uma demonstração de que reconhecemos Deus como
      o provedor de tudo o que temos. Este princípio é baseado na Bíblia, como em Malaquias
      3:10, que convida os fiéis a devolverem ao Senhor parte do que recebem.<br />
      <span>Como devolver: </span>O dízimo é entregue à igreja local durante os cultos ou
      de forma online. Ele é então encaminhado para a administração da igreja, que
      distribui esses recursos conforme a missão.
    </p>
  </article>

  <article>
    <h3>Ofertas</h3>
    <p>
      <span>Propósito: </span>As ofertas são contribuições voluntárias, além do dízimo,
      destinadas a apoiar necessidades específicas da igreja local, como a manutenção do
      templo, programas sociais, eventos missionários e atividades comunitárias.<br />
      <span>Significado: </span>As ofertas são uma forma de expressar gratidão e amor a
      Deus de maneira voluntária, ajudando a atender necessidades da comunidade e a
      expandir o alcance do evangelho.<br />
      <span>Como participar: </span>As ofertas podem ser feitas em qualquer culto ou evento,
      e algumas igrejas disponibilizam opções de contribuição online. Cada membro é
      incentivado a dar conforme sua condição e propósito pessoal.
    </p>
  </article>

  <article>
    <h3>Pactos</h3>
    <p>
      <span>Propósito: </span>O pacto é um compromisso individual que cada membro faz
      com Deus, definindo uma contribuição financeira ou de serviço baseada em uma
      porcentagem ou valor específico. É uma forma pessoal de consagração, e pode ser
      dedicado a causas específicas, como missões ou ministérios locais.<br />
      <span>Significado: </span>O pacto é uma promessa de dedicação e confiança em Deus,
      fortalecendo a vida espiritual do fiel e o senso de responsabilidade com a obra
      divina.<br />
      <span>Como fazer um pacto: </span>Cada pessoa pode estabelecer seu pacto diretamente
      com Deus, de acordo com sua condição e convicção. Isso pode incluir doações regulares
      ou dedicadas a um projeto específico, além de tempo e talentos em ações voluntárias.
    </p>
  </article>

  <article class="pix">
    <img src="pix.svg" alt="PIX" />
    <p>PIX</p>
    <p>55.233.019/0006-84</p>
  </article>
</section>

<section id="apoio">
  <h2>Material de Apoio</h2>
  <article>
    <div id="tres_primeiro">
      <div>
        <img src="biblia.png" alt="Bíblia" />
        <h3>Bíblia</h3>
      </div>

      <div>
        <img src="adultos.png" alt="Lição dos Adultos" />
        <h3>Lição dos Adultos</h3>
      </div>

      <div>
        <img src="jovens.png" alt="Lição dos Jovens" />
        <h3>Lição dos Jovens</h3>
      </div>
    </div>

    <div>
      <img src="meditacoes.png" alt="Meditações (Vídeo)" />
      <h3>Meditações (Vídeo)</h3>
    </div>

    <div id="tres_segundo">
      <div>
        <img src="deus.png" alt="Meditação adultos" />
        <h3>Meditação adultos</h3>
      </div>

      <div>
        <img src="mulher.png" alt="Meditação da Mulher" />
        <h3>Meditação da Mulher</h3>
      </div>

      <div>
        <img src="inverso.png" alt="Meditação dos Jovens" />
        <h3>Meditação dos Jovens</h3>
      </div>
    </div>

    <div id="tres_terceiro">
      <div>
        <img src="ebooks.png" alt="E-Books" />
        <h3>E-Books</h3>
      </div>

      <div>
        <img src="ellen.png" alt="Livros de Ellen G. White" />
        <h3>Livros de Ellen G. White</h3>
      </div>
    </div>
  </article>
</section>

<section>
  <h2>Não pare por aí, conheça também...</h2>

  <div id="canais">
    <div>
      <img src="seven.png" alt="Seven me" />
      <p>Seven me</p>
    </div>

    <div>
      <img src="novo.png" alt="Novo Tempo" />
      <p>Novo Tempo</p>
    </div>

    <div>
      <img src="feliz.png" alt="Feliz 7 Play" />
      <p>Feliz 7 Play</p>
    </div>

    <div>
      <img src="" alt="Encontre uma igreja" />
      <p>Encontre uma igreja</p>
    </div>
  </div>
  <hr />

  <img src="adven.png" alt="Adventista" />
</section>

<footer class="footer_container">
  <div class="div_footer">
    <img id="imagem_footer" src="vector4.svg" alt="Decorativo Footer" />
    <div class="footer">
      <h2>Venha nos conhecer</h2>
      <article>
        <h3>Redes Sociais</h3>
        <div id="redes_sociais">
          <div>
            <img src="insta.svg" alt="Instagram" />
            <p>Instagram</p>
          </div>

          <div>
            <img src="face.svg" alt="Facebook" />
            <p>Facebook</p>
          </div>

          <div>
            <img src="youtube.svg" alt="Youtube" />
            <p>Youtube</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</footer>
